<section class="content">
  <h1 class="homePageTitle">Control Panel Homepage</h1>
  <br><br>
  <h1 class="wordCap">statistics</h1>
  {{#if err}}
    <h3>{{err}}</h3>
    {{else}} 
    <section class="static">
      <h3 class="static">Number Of Cohorts :  {{conutCohort}}</h3>
      <h3 class="static">Number Of Projects : {{countProject}}</h3>
      <h3 class="static">Number Of Students : {{countStudent}} </h3>
    </section>
  {{/if}}
</section>
