<section>
  <img class="imageClient" src="/img/besart-bootcamp.jpg">
</section>
<section class="info">
  {{#each res.cohortResults}}
  <div class="facInfo">
    <h1>{{name}}</h1>
    <p>{{description}}</p>
  </div>
  <div class="github">
    <button>
      <a href="{{githublink}}">Github Page</a>
    </button>
  </div>
  {{/each}}
</section>
<hr>
<section class="phase">
  <h1>Community Phase Projects</h1>
  {{#if res.projectResults.length }}
    <div class="proj">
      {{#each res.projectResults}}
       <a href="/projects/{{id}}">
        <div class="comp" id="{{cohort_id}}">
          <img class="projectImg" src="{{img_url}}">
          <h4>{{name}}</h4>
        </div>
        </a>
      {{/each}} 
  {{else}}
     <h3>There are No Project in this Fac !</h3>
    </div>
  {{/if}}
</section>
<hr/>
<section class="phase">
  <h1>Client Phase Projects</h1>
  <div class="proj">
    <div class="comp">
      <img class="projectImg" src="/img/startup-photos.jpg">
      <h4>Project Name</h4>
    </div>
    <div class="comp">
      <img class="projectImg" src="/img/startup-photos.jpg">
      <h4>Project Name</h4>
    </div>
    <div class="comp">
      <img class="projectImg" src="/img/startup-photos.jpg">
      <h4>Project Name</h4>
    </div>
    <div class="comp">
      <img class="projectImg" src="/img/startup-photos.jpg">
      <h4>Project Name</h4>
    </div>
  </div>
</section>
<hr>
<section class="silderSection">
  <section class="lazy slider ">
    {{#if res.studentResults.length}}
      {{#each res.studentResults}}
        <div class="sutdent">
          <a target="_blank" href="{{githublink}}">
            <img src="{{img_url}}">
          </a>
          <h4>{{name}}</h4>
        </div>
      {{/each}} 
    {{/if}}
  </section>
 </section>
</section>