<section class="content">
  <button class="button button2" onclick="addCohort()">ADD Cohort</button>
  <section>
    {{#if err}}
     <h3>{{err}}</h3>
    {{else}}
    <table class="tabel">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>GithubPage</th>
        <th>Image</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View student</th>
      </tr>
      {{#each res}}
      <tr id='{{id}}'>
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td>
          <a href="{{githublink}}">click</a>
        </td>
        <td>
          <a href="{{imgurl}}">click</a>
        </td>
        <td>
          <a>
            Edit </a>
        </td>
        <td>
          <a class="delete" id="{{this.id}}">
            Delete </a>
        </td>
        <td>
          <a href="/admin/cohorts/{{id}}/students">
            View student </a>
        </td>
      </tr>
      {{/each}}
    </table>
    {{/if}}
  </section>
  <section class="sectionAddcoh" id="addCoh">
    <h2>Add Cohort</h2>
    <div class="cohDiv">
      <label for="name"> Name</label>
      <div>
        <input type="text" id="name" name="name" placeholder="Name" required>
        <p id="nameerror" class="errorValid"></p>
      </div>
      <label for="Description"> Description</label>
      <div>
        <input type="text" id="description" name="Description" placeholder="Description" required>
        <p id="deserror" class="errorValid"></p>
      </div>
      <label for="link">Github Link</label>
      <div>
        <input type="text" id="githublink" name="link" placeholder="Github Link" required>
        <p id="giterror" class="errorValid"></p>
      </div>
      <label for="Image"> Image</label>
      <div>
        <input type="text" id="imgURl" name="Image" placeholder=" Link Image" required>
        <p id="imgerror" class="errorValid"></p>
      </div>
      <input type="submit" id="addCohort" value="ADD Cohort">
    </div>
  </section>