<section class="content">
    {{#each results}}
    <section id="EditCoh">
        <h2>Edit Student | {{this.name}}</h2>
        <div class="cohDiv">
            <label for="name"> Name</label>
            <div>
                <input type="text" id="name" name="name" placeholder="Name" value="{{this.name}}">
                <p id="nameerror" class="errorValid"></p>
            </div>
            <label for="Username"> Username</label>
            <div>
                <input type="text" id="username" name="Username" value="{{this.username}}" placeholder="Username" required>
                <p id="deserror" class="errorValid"></p>
            </div>
            <label for="link">Github Link</label>
            <div>
                <input type="text" id="githublink" name="link" value="{{this.githublink}}" placeholder="Github Link" disabled>
                <p id="giterror" class="errorValid"></p>
            </div>
            <label for="Image"> Image</label>
            <div>
                <input type="text" id="imgURl" name="Image" value="{{this.imgurl}}" placeholder=" Link Image" disabled>
                <p id="imgerror" class="errorValid"></p>
            </div>

            <a href="/admin/cohorts/{{this.cohort_id}}/students"><input type="submit" value="Back"></a>

            <input class="editButton" type="submit" id="{{std_id}}" value="Edit Student">
            <img class="loading" id="loading" src="/img/loading.gif" alt="">

        </div>
        {{/each}}
    </section>
</section>