<section class="content">
  <section class="com-name">
    <h3>{{projectsType}} Projects</h3>
  </section>
  <button class="button button2" onclick="addProject()">ADD Project</button>
  {{#if err}}
    <h3>{{err}}</h3>
  {{else}}
  <br><br>
  <h3>{{cohortname}}</h3>
    <table class="tabel">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Github Link</th>
        <th>Website Link</th>
        <th>Image</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View student</th>
      </tr>
      {{#each projectResult}}
      <tr id="{{id}}">
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td><a href="{{githublink}}" target="_blank">click</a></td>
        <td><a href="{{websitelink}}" target="_blank">click</a></td>
        <td><a href="{{img_url}}" target="_blank">click</a></td>
        <td>
          <a class="edit" href="/admin/{{../projectsType}}/{{this.cohort_id}}/edit/{{this.id}}">
            Edit </a>
        </td>
        <td>
          <a class="delete" href="javascript:;" id="{{this.id}}">
            Delete </a>
        </td>
        <td onclick="students()">
          <a class="student" href="/admin/Community/{{id}}/projects/student/{{cohort_id}}">
            View student </a>
        </td>
      </tr>
      {{/each}}
    </table>
  {{/if}}
  <section class="sectionAddPro" id="addPro">
    <h2>Add Project</h2>
    <div class="editDiv">
      <label for="name"> Name</label>
      <input type="text" id="name" name="name" placeholder="Name" required>
      <span id="nameError" class="errorValid"></span>
      <label for="Description"> Description</label>
      <input type="text" id="description" name="Description" placeholder="Description" required>
      <span id="descriptionError" class="errorValid"></span>
      <label for="link"> Github Link</label>
      <input type="text" id="gitLink" name="link" placeholder=" Github Link" required>
      <span id="gitError" class="errorValid"></span>
      <label for="link"> Website Link</label>
      <input type="text" id="webLink" name="link" placeholder=" Website Link" required>
      <span id="webError" class="errorValid"></span>
      <label for="Image"> Image</label>
      <input type="text" id="imgUrl" name="Image" placeholder="Image URL" required>
      <span id="imgError" class="errorValid"></span>
      <input type="submit" id="addproj" value="ADD Project">
    </div>
  </section>
</section>