<section>
  <img class="imageClient" src="/img/besart-bootcamp.jpg">
</section>
<section class="section-2">
  <h1 class="textmain">{{projectsType}} Projects Phase
  </h1>
  <p class="codeAcademy ">The Code Academy is Palestine’s first full-stack coding bootcamp with a flagship campus in Gaza and second campus opening
    in the West Bank in November 2018. The Code Academy is a joint project of Mercy Corps/Gaza Sky Geeks and Founders & Coders
    International. We train 16 students per cohort in a full-time, intensive course for 8 weeks with an additional 16 weeks
    of project-based learning with real-world clients to jumpstart your professional portfolio. The objective is to graduate
    as full-stack developers who can deploy production-grade software online and secure high-quality jobs with companies
    or work as freelance developers.</p>
  <hr>
</section>
<section class="client-project">
  {{#if err}}
    <h3>{{err}}</h3>
  {{else}}
    {{#if projectResult.length}}
      {{#each projectResult}}
      <div>
        <a href="/project/{{id}}">
          <img class="projectImg" src="{{img_url}}">
        </a>
        <h5>{{name}}</h5>
      </div>
      {{/each}}
    {{else}}
      <h3 class="errMessage">No Community Projects !</h3>
    {{/if}}
  {{/if}}
</section>