<section class='main'>
  <img class="imageClient" src="/img/besart-bootcamp.jpg">
</section>
<section class="section-2">
  <h1 class="textmain">{{res.projectResult.0.name}}
  </h1>
  <p class="description">{{res.projectResult.0.description}}</p>
  <hr>
</section>
<section class="section-2">
  <h1 class="textmain">Project Information
  </h1>
  <ul class="information-ui">
    <li> {{res.projectResult.0.cohort_name}} </li>
    <li><a target="_blank" href="{{res.projectResult.0.githublink}}">Github Link</a></li>
    <li><a target="_blank" href="{{res.projectResult.0.websitelink}}">Website Link</a> </li>
    <li>
      students
      <ul class="sutdentsUl">
        {{#if res.projectStudentsResult.length}}
          {{#each res.projectStudentsResult}}
           <li><a target="_blank" href="{{githubLink}}"> {{studentName}}</a></li>
          {{/each}}
        {{else}}
          <h3>There are No Student !</h3>
        {{/if}}
      </ul>
    </li>
  </ul>
 </section>