<section>
  <img class="imageClient" src="/img/besart-bootcamp.jpg">
</section>
<section class="section2">
  <h1 class="textmain">{{res.projectResult.0.name}}
  </h1>
  <p class="description">{{res.projectResult.0.description}}</p>
  <hr>
</section>
<section class="section2">
  <h1 class="textmain">Project Information
  </h1>
  <ul class="informationUl">
    <li> {{res.projectResult.0.cohort_name}} </li>
    <li><a href="{{res.projectResult.0.githublink}}">{{res.projectResult.0.githublink}}</a> </li>
    <li><a href="{{res.projectResult.0.websitelink}}">{{res.projectResult.0.websitelink}}</a> </li>
    <li>
      students
      <ul class="sutdentsUl">
        {{#if res.projectStudentsResult.length}}
          {{#each res.projectStudentsResult}}
           <li><a href="{{github_link}}"> {{student_name}}</a></li>
          {{/each}}
        {{else}}
          <h3>There are No Student !</h3>
        {{/if}}
      </ul>
    </li>
  </ul>
 </section>